*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nevigation Part */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 120px ;
}

.logo img{
    width: 139px;
    height: 68px;
}

.nav-links ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin:0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color:black;
    font-size: 18px;
}


.nav-btn{
    text-align: right;
}

.first-btn{
    background-color:#30B868;
    padding:12px 16px ;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.first-btn:hover {
    background-color: #299054;
}



/* Hero Section */

.hero-section {
    width: 100%;
     background-image: url(./assets/hero-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}
.hero-content{
    text-align: center;
    padding:70px 120px 134px 120px ;
   

}

.hero-content h2 {
    font-size: 72px;
    font-weight: bold;
    color:rgba(255, 255, 255, 1);
    margin-bottom:16px ;
}

.hero-content h2  .clr{
    color: rgba(48, 184, 104, 1);
}

.hero-content p {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 18px;
    margin-bottom: 32px;
    border-bottom: 24px;
    text-align: center;
}

.hero-content .top-btn {
    padding: 8px 12px;
    color:#30B868;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1000px;
    cursor: pointer;
}


.hero-content .top-btn:hover {
    background-color: aliceblue;
}


.btn-item {
    display: flex;
    gap:16px;
    align-items: center;
    justify-content: center;
}

.btn-two{
    padding: 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}

.btn-two:hover {
    background-color: #289a58;

}

.btn-three{
    padding: 12px 16px;
    background-color:transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border:1px solid white;
     border-radius: 4px;
     gap: 10px;
}

.btn-three:hover {
    background-color: darkgray;

}




/* Card Section */

/* .container{
    
} */

.card-section{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 234, 234);
}

.third-heading {
    display: block;
}

.card-section h2 {
    font-size: 48px;
    font-weight: bold;
    color:black;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 20px;
}

.card-section p{
   font-size: 16px;
   margin-bottom: 44px; 

}

.card-design {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items:center;
    /* margin-bottom:120px; */

    /* padding: 24px;
    color: rgba(255, 255, 255, 1); */
}

.cards {
    background-color: rgba(255, 255, 255, 1);
    padding: 25px;
    text-align: center;
    width: 322px;
    height: 300px;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.cards img {
    height: 60px;
    width: 60px;
    background-color:rgba(249, 85, 85, 1);
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 16px;
}

.cards h3 {
    font-size: 24px;
    font-weight: 600;
    color:rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.cards p {
font-size: 16px;
color:rgba(0, 25, 49, 1) ;

}



/* Second Section */

.what-it-is {
    padding: 120px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.what-container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.image-seven {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.sentense{
    text-align: left;
    justify-content: center;
    align-items: center;
}

.number-one{
    font-size: 16px;
    color: rgba(70, 145, 101, 1);
    margin-bottom: 16px;
    text-transform: uppercase;
}

.sentense h2 {
    font-size: 48px;
    font-weight: bold;
    color:rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.sentense .number-two {
    font-size: 16px;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 16px;
}

.sentense ul{
    list-style:circle;
}

.sentense li {
    font-size: 16px;
    margin-bottom: 10px;
}



/* Bonus Section  */

.bonus-section {
   padding: 0px 120px 120px 120px;
margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

.bonus-part {
    /* width: 70%;
    max-width: 1140px; */
    background-color: rgba(247, 246, 242, 1);
    padding: 40px 80px;
    border-radius:12px ;
    /* display: flex; */
    align-items: center;
    justify-content: center;

}

.bonus-part h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.bonus-part p{
    font-size: 16px;
    color:rgba(98, 115, 130, 1);
    margin-bottom: 16px;
}

.last-btn {
    padding: 12px 16px;
    font-size:16px ;
    font-weight: 600;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius:5px;
    cursor: pointer;
    margin-bottom: 16px;

}

.last-btn:hover {
    background-color: #268d51;
}
